body{
	margin: 0;
	color: black;
	background: #fafafa;
}

#video{
    width: 60vw;
    left: 35vw;
    top: 23vh;
    position: fixed;
    z-index: -2;
}
#mac{
	width: 100vw;
	left: 15vw;
	top: 10vh;
	position: fixed;
	z-index: -1;
}

#head-chart{
	width: 100%;
	height: 100%;
}

#chart{
	z-index: 2;
	width: 35vw;
	display: inline-block;
	position: fixed;
	background: rgba(0,0,0,0.3);
	padding: 20px;
	margin: 10px;
}

#notification{
	position:fixed;
	min-width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding:30px;
	text-align:center;
}

.warning{
	color:#F00;
	background:#511;
	border:1px solid #F00;
}

.accept{
	color:#00FF00;
	background:#333;
	border:1px solid #00FF00;
}

#speed-board{
	z-index: 2;
	display: inline-block;
	width: 20vw;
	height: 20vw;
	position: fixed;
	bottom: 0;
	margin: 10px;
	
}

#speed-circle{
	background-color: rgba(0,0,0,0.3);
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;
}

#speed{
	display: inline-block;
	color: white;
	font-size: 8vw;
}

#unit{
	display: flex;
	height: 6vw;
	align-items: flex-end;
	color: white;
	font-size: 1.5vw;
}

#safe-status{
	z-index: 2;
	position: absolute;
	right: 0;
	display: inline-flex;
	background-color: rgba(0,0,0,0.3);
	justify-content: center;
	width: 8vw;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
}

#right-light{
	z-index: 1;
	position: absolute;
	right: 0;
	background: linear-gradient(to left,white,yellow);
	height: 100vh;
	width: 30vw;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	opacity: 0.8;
	box-shadow:0 0 10vw 10vw rgba(255,255,0,1);
}
#left-light{
	z-index: 1;
	position: absolute;
	background: linear-gradient(to right,white,yellow);
	height: 100vh;
	width: 30vw;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	opacity: 0.8;
	box-shadow:0 0 10vw 10vw rgba(255,255,0,1);
}